<div class=WordSection9>

<p class=MsoNormal ><b>V.B.(1).
DISPOSITION OF FOIA REQUESTS -- ALL PROCESSED REQUESTS<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection10>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=574
>
 <tr >
  <td width=41 rowspan=2 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Agency / Component<o:p></o:p></p>
  </td>
  <td width=41 rowspan=2 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Number of Full Grants<o:p></o:p></p>
  </td>
  <td width=41 rowspan=2 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Number of Partial Grants / Partial
  Denials<o:p></o:p></p>
  </td>
  <td width=41 rowspan=2 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Number of Full Denials Based on
  Exemptions<o:p></o:p></p>
  </td>
  <td width=369 colspan=9 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Number of Full Denials Based on
  Reasons Other than Exemptions<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">&nbsp;<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">No Records<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">All Records Referred to Another
  Component or Agency<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Request Withdrawn<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Fee-Related Reason<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Records not Reasonably Described<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Improper FOIA Request for Other Reason<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Not Agency Record<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Duplicate Request<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">Other *Explain in Chart Below<o:p></o:p></p>
  </td>
  <td width=41 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">TOTAL<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_foia_requests_vb1 if key|first != '#' %}
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_agency_component[0].entity.field_agency_comp_abbreviation.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_full_grants.value  }} 
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom style="font-size: 8.0pt">
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_part_grants_denials.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_full_denials_ex.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_no_rec.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_rec_ref_to_an_comp.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_req_withdrawn.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_fee_related_reason.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_rec_not_desc.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_imp_req_oth_reason.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_not_agency_record.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_dup_request.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_oth.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ content.field_foia_requests_vb1[key]['#paragraph'].field_total.value }}
  <o:p></o:p></p>
  </td>
 </tr>
{% endfor %}

 <tr >
  <td width=70 >
  <p class=MsoNormal align=center style="font-size: 8.0pt">AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_full_grants }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_part_grants_de }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_full_denials_e }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_no_rec }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_rec_ref_to_an_ }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_req_withdrawn }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_fee_related_re }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_rec_not_desc }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_imp_req_oth_re }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_not_agency_rec }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_dup_request }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_oth }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right style="font-size: 8.0pt">
  {{ docx.field_overall_vb1_total }}
  <o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection11>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=570 nowrap valign=bottom >
  <p class=MsoNormal align=left ><i>
  {{ docx.field_footnotes_vb1 }}
  </i><o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<i ><br clear=all >
</i>
