<div class=WordSection75>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
  <td width=535 nowrap valign=bottom >
  <p class=MsoNormal><b>XI.B. Number of Subsection (A)(2) Postings<o:p></o:p></b></p>
  </td>
 </tr>
</table>

</div>

<b ><br clear=all >
</b>

<div class=WordSection76>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=342>
 <tr >
  <td width=114 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number of Records Posted by the FOIA
  Office<o:p></o:p></p>
  </td>
  <td width=114 >
  <p class=MsoNormal align=center >Number of Records Posted by Program
  Offices<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_sub_xib if key|first != '#' %}
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >
  {{ content.field_sub_xib[key]['#paragraph'].field_agency_component[0].entity.field_agency_comp_abbreviation.value }} 
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_sub_xib[key]['#paragraph'].field_rec_post_foia.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_sub_xib[key]['#paragraph'].field_rec_post_prog.value }}
  <o:p></o:p></p>
  </td>
 </tr>
{% endfor %}
 <tr >
  <td >
  <p class=MsoNormal align=center >AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_xib_rec_post_foia }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_xib_rec_post_prog }}<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection77>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=535>
 <tr >
   <td width=570 nowrap valign=bottom >
   <p class=MsoNormal align=left><i >{{ docx.field_footnotes_xib }}<o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<phpdocx_break data-type="page"></phpdocx_break>
