
<div class=WordSection3>

<p class=MsoNormal>IV. Exemption 3 Statutes <o:p></o:p></p>

</div>

<div class=WordSection4>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=135 >
  <p class=MsoNormal align=center >Statute</p>
  </td>
  <td width=161 >
  <p class=MsoNormal align=center >Type of Information<br>
  Withheld<o:p></o:p></p>
  </td>
  <td width=161 >
  <p class=MsoNormal align=center >Case Citation<o:p></o:p></p>
  </td>
  <td width=67 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=67 >
  <p class=MsoNormal align=center >Number of Times<br>
  Relied upon<br>
  by Agency / Component<o:p></o:p></p>
  </td>
  <td width=67 >
  <p class=MsoNormal align=center >Total Number of<br>
  Times Relied upon<br>
  by Agency Overall<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_statute_iv if key|first != '#' %}
  {% for subkey,subvalue in content.field_statute_iv[key]['#paragraph'].field_agency_component_inf if subkey|first != '#' %}

 <tr >
  {% if not subkey %}
  <td valign=top rowspan={{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf|length }}>
  <p class=MsoNormal >
  {{ content.field_statute_iv[key]['#paragraph'].field_statute[0].value }}
  <o:p></o:p></p>
  </td>
  <td  valign=top rowspan={{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf|length }}>
  <p class=MsoNormal >
  {{ content.field_statute_iv[key]['#paragraph'].field_type_of_info_withheld[0].value }}
  <o:p></o:p></p>
  </td>
  <td valign=top rowspan={{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf|length }}>
  <p class=MsoNormal >
  {{ content.field_statute_iv[key]['#paragraph'].field_case_citation[0].value  }}
  <o:p></o:p></p>
  </td>
  {% endif %}
  <td nowrap valign=top >
  <p class=MsoNormal >
  {{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf[subkey].entity.field_agency_component[0].entity.field_agency_comp_abbreviation.value}}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >
  {{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf[subkey].entity.field_num_relied_by_agency_comp[0].value}}
  <o:p></o:p></p>
  </td>

  {% if not subkey %}
  <td nowrap rowspan={{ content.field_statute_iv[key]['#paragraph'].field_agency_component_inf|length }}>
  <p class=MsoNormal align=right >
  {{ content.field_statute_iv[key]['#paragraph'].field_total_num_relied_by_agency[0].value }}
  <o:p></o:p></p>
  </td>
  {% endif %}
  </tr>
  {% endfor %}
 </tr>
{% endfor %}
</table>

</div>

<br clear=all>

<div class=WordSection5>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=570 >
{% for key,value in docx.field_footnotes_iv if key|first != '#' %}
 <tr >
  <td width=570 nowrap valign=bottom >
  <p class=MsoNormal align=left><i >
  {{ docx.field_footnotes_iv[key] }}
  <o:p></o:p></i></p>
  </td>
 </tr>
{% endfor %}
</table>

</div>

<phpdocx_break data-type="page"></phpdocx_break>
