<div class=WordSection48>

<p class=MsoNormal ><b>VII.C. PROCESSED COMPLEX REQUESTS --
RESPONSE TIME IN DAY INCREMENTS<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection49>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=52 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >&lt;1-20<br>
  Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >21-40<br>
  Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >41-60<br>
  Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >61-80<br>
  Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >81-100 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >101-120 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >121-140 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >141-160 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >161-180 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >181-200 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >201-300 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >301-400 Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >401+<br>
  Days<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >TOTAL<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_proc_req_viic2 if key|first != '#' %}
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_agency_component[0].entity.field_agency_comp_abbreviation.value }} 
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_1_20_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_21_40_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_41_60_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_61_80_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_81_100_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_101_120_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_121_140_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_141_160_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_161_180_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_181_200_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_201_300_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_301_400_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_400_up_days.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >
  {{ content.field_proc_req_viic2[key]['#paragraph'].field_total.value }}
  <o:p></o:p></p>
  </td>
 </tr>
{% endfor %}

 <tr >
  <td >
  <p class=MsoNormal align=center >AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_1_20_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_21_40_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_41_60_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_61_80_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_81_100_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_101_120_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_121_140_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_141_160_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_161_180_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_181_200_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_201_300_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_301_400_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_400_up_days }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_viic2_total }}<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection50>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=570>
 <tr >
   <td width=570 nowrap valign=bottom >
   <p class=MsoNormal align=left><i >{{ docx.field_footnotes_viic2 }}<o:p></o:p></i></p>
  </td>
 </tr>
</table>

</div>

<phpdocx_break data-type="page"></phpdocx_break>
