<div class=WordSection36>

<p class=MsoNormal ><b>VI.C.(5). TEN
OLDEST PENDING ADMINISTRATIVE APPEALS<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection37>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=31 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >&nbsp;<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >10th Oldest Appeal<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >9th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >8th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >7th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >6th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >5th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >4th<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >3rd<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >2nd<o:p></o:p></p>
  </td>
  <td width=49 >
  <p class=MsoNormal align=center >Oldest Appeal<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_admin_app_vic5 if key|first != '#' %}
 <tr >
  <td nowrap rowspan=2 valign=bottom >
  <p class=MsoNormal >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_agency_component[0].entity.field_agency_comp_abbreviation.value }}
  <o:p></o:p></p>
  </td>
  <td >
  <p class=MsoNormal align=center >Date of Appeal<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_10.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_9.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_8.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_7.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_6.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_5.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_4.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_3.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_2.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_date_1.value }}
  <o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td >
  <p class=MsoNormal align=center >Number of Days Pending<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_10.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_9.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_8.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_7.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_6.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_5.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_4.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_3.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_2.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_admin_app_vic5[key]['#paragraph'].field_num_days_1.value }}
  <o:p></o:p></p>
  </td>
 </tr>
{% endfor %}

 <tr >
  <td rowspan=2 >
  <p class=MsoNormal align=center >AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td >
  <p class=MsoNormal align=center >Date of Appeal<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_10 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_9 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_8 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_7 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_6 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_5 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_4 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_3 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_2 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_date_1 }}<o:p></o:p></p>
  </td>
 </tr>
 <tr >
  <td >
  <p class=MsoNormal align=center >Number of Days Pending<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_10 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_9 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_8 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_7 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_6 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_5 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_4 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_3 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_2 }}<o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >{{ docx.field_overall_vic5_num_day_1 }}<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection38>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=570>
 <tr >
   <td width=570 nowrap valign=bottom >
   <p class=MsoNormal align=left><i >{{ docx.field_footnotes_vic5  }}</i><o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<phpdocx_break data-type="page"></phpdocx_break>
