<div class=WordSection15>

<p class=MsoNormal ><b>V.B.(3).
DISPOSITION OF FOIA REQUESTS -- NUMBER OF TIMES EXEMPTIONS APPLIED<o:p></o:p></b></p>

</div>

<b ><br clear=all >
</b>

<div class=WordSection16>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=570>
 <tr >
  <td width=52 >
  <p class=MsoNormal align=center >Agency / Component<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 1<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 2<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 3<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 4<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 5<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 6<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(A)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(B)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(C)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(D)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(E)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 7(F)<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 8<o:p></o:p></p>
  </td>
  <td width=37 >
  <p class=MsoNormal align=center >Ex. 9<o:p></o:p></p>
  </td>
 </tr>

{% for key,value in content.field_foia_requests_vb3 if key|first != '#' %}
 <tr >
  <td nowrap valign=bottom >
  <p class=MsoNormal >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_agency_component[0].entity.field_agency_comp_abbreviation.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_1.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_2.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_3.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_4.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_5.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_6.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_a.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_b.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_c.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_d.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_e.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_7_f.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_8.value }}
  <o:p></o:p></p>
  </td>
  <td nowrap valign=bottom >
  <p class=MsoNormal align=right >
  {{ content.field_foia_requests_vb3[key]['#paragraph'].field_ex_9.value }}
  <o:p></o:p></p>
  </td>
 </tr>
{% endfor %}

 <tr >
  <td >
  <p class=MsoNormal align=center >AGENCY OVERALL<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_1 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_2 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_3 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_4 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_5 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_6 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_a }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_b }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_c }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_d }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_e }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_7_f }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_8 }}<o:p></o:p></p>
  </td>
  <td nowrap >
  <p class=MsoNormal align=right >{{ docx.field_overall_vb3_ex_9 }}<o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<br clear=all>

<div class=WordSection17>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=570>
 <tr >
 <td width=570 nowrap valign=bottom >
  <p class=MsoNormal align=left ><i>{{ docx.field_footnotes_vb3 }}</i><o:p></o:p></p>
  </td>
 </tr>
</table>

</div>

<phpdocx_break data-type="page"></phpdocx_break>
