{#
/**
 * @file
 * Template for a one-two-one-cl column panel layout.
 */
#}
<div class="cog-pl panel-cog-layout-one-three-one-cm" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel">
    <div class="cog-panel--fullrow">
      <div class="usa-grid usa-grid-panel">
        <div class="cog-layout--top usa-width-one-whole">{{ content.top }}</div>
      </div>
    </div>
    <div class="cog-panel--fullrow">
      <div class="usa-grid usa-grid-panel">
        <div class="cog-layout--middle-left usa-width-one-fourth">{{ content.middle_left }}</div>
        <div class="cog-layout--middle-center usa-width-one-half">{{ content.middle_center }}</div>
        <div class="cog-layout--middle-right usa-width-one-fourth">{{ content.middle_right }}</div>
      </div>
    </div>
    <div class="cog-panel--fullrow">
      <div class="usa-grid usa-grid-panel">
        <div class="cog-layout--bottom usa-width-one-whole">{{ content.bottom }}</div>
      </div>
    </div>
  </div>
</div>